body {
    font-family: Georgia;
    
}

.blok-lewy {
    background-color: maroon;
    color: white;
    height: 600px;
    width: 30%;
}

.blok-prawy {

    background-color: maroon;
    color: white;
    height: 600px;
    width: 70%;
    overflow-y: auto;
}

main {
    display: flex;
}

.blok-prawy > div {
    display: flex;
}

.blok-prawy p {
    padding: 10px;
}

.blok-prawy img {
    padding: 10px;
    border: 1px solid white;
}



.stopka {
    background-color: dimgray;
    color: white;
}

button:nth-of-type(1) {
    background-color: indigo;
}

button:nth-of-type(2) {
    background-color: steelblue;
}
button:nth-of-type(3) {
    background-color: olive;
}